body {
    background-color: rgb(147, 244, 136);
}

#game-container {
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
}
#correctWords {
    font-size: 25px;
}

#timer {
    position: absolute;
    top: 30%;
    left: 48%;
    font-size: 30px;
}

#newGameButton {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: #38b9e4;
    border: none;
    border-radius: 50px;
}
  
#gameOverMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: red;
}
  
#text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 25px;
}

#input {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.success {
    color: rgb(21, 173, 21);
}

.fail {
    color: red;
}